html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  /* outline: 1px solid red; */
}

body {
  margin: 0;
  background-color: #fedacd;
  color: #121313;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

h1, h2, h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.1;
}

h2, h3 {
  font-weight: 500;
}

.site-container {
  width: 100%;
  margin: 2em 0em;
  border-radius: 1em;
  background-color: #fff4e8;
}


/* || Header and Main Navigation */

.site-header {
  align-items: center;
  color: #4d5050;
  font-size: 14px;
  font-weight: 600;
}

.top-nav-content,
.main-content-wrapper {
  width: 55%;
  margin: auto;
  padding: 10px;
}

@media (max-width: 1024px) {
  .top-nav-content,
  .main-content-wrapper {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .top-nav-content,
  .main-content-wrapper {
    width: 90%;
  }
}

.top-nav-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
}

.top-nav-content .items {
  list-style: none;
}

.items li {
  min-width: max-content;
}

.top-nav-logo {
  margin-left: 0;
  padding: 0.5em;
}

.top-nav-logo img {
  height: auto;
  width: 200px;
}

.top-nav-login {
  margin-right: 0;
}

.top-nav-menu .items,
.top-nav-login .items {
  display: flex;
  gap: 2em;
  padding: 0;
  /* need to add wrapping and/or condensed menu for narrow resolutions */
}

/* || Post-Header Content */

.post-header {
  display: flex;
  justify-content: space-between;
  gap: 4em;
  margin: 1rem 0rem;
  font-size: 18px;
}

.text-container,
.image-wrapper {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1680px) {
  .post-header {
    flex-direction: column;
    gap: 1em;
  }
}

.post-header .text-container {
  flex-flow: column;
  justify-content: center;
  gap: 1em;
}

.post-header .text-container > * {
  margin: 0;
  align-content: center;
}

.post-header .text-container h1 {
  font-size: 50px;
}

.post-header .button-container {
  margin: 1em 0;
} 

.post-header .image-wrapper {
  align-items: center;
}

.image-wrapper img {
  flex: auto;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  border-radius: 35% 20%;
}

.button-container button {
  min-width: max-content;
  margin-right: 0.5em;
  border: none;
  border-radius: 20px;
  padding: 1em 1.5em;
  /* font-size: 14px; */
  font-weight: 600;
}

.button-container .green-button {
  background-color: #f87067;
  color: #f0f0f0;
}

.button-container .muted-button {
  background-color: #fad4c9;
  color: #f87067;
}

/* || Recipes Section */

.module {
  margin: 4rem 0rem;
}

.module h2 {
  text-align: center;
}

.card-container {
  display: flex;
  /* flex-flow: row wrap; */
  gap: 1em;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 1.5em;
  background-color: #ffffff;
}

.card > * {
  padding: 0em 1.5em;
}

.card .image-container {
  flex: auto;
  margin-top: 1em;
  align-content: center;
  min-height: 80px;
  max-height: 80px;
}

.card .image-container img {
  height: auto;
  width: 80px;
}

.card h3 {
  flex: 0;
  margin: 1em 0em;
  color: #0d8553;
  font-size: 18px;
  font-weight: 700;
  /* min-width: max-content; */
}

.card a {
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline #0d8553;
  text-underline-offset: 3px;
}

.card p {
  margin-bottom: 1.5em;
  color: #353535;
  font-size: 14px;
  line-height: 1.6;
}